@use "../variables" as *;

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 0.8rem 1.2rem;
  vertical-align: middle;
  overflow: hidden;
  max-width: 10rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 1024px) {
    padding: 0.5rem 0.6rem;
    font-size: 0.85rem;
    max-width: 6rem;
  }

  &:first-child {
    padding-right: 0.5rem;
    text-align: center;
    font-size: 0.7rem;
    color: $text-secondary;
    width: 1%;
    white-space: nowrap;
  }

  &:nth-child(2) {
    padding-left: 0.5rem;
  }
}

th {
  background-color: #252525;
  color: $text-secondary;
  font-weight: 600;
  transition: color 0.2s ease;
}

tr {
  border-bottom: 1px solid $border-color;
  transition: background-color 0.2s ease;

  &:nth-child(even) {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #2a2a2a;
  }
}

td {
  color: $text-primary;

  em {
    color: $text-secondary;
    font-style: normal;
  }
}

.monospace {
  font-family: monospace;
  font-size: 1rem;
  text-align: right;

  @media (max-width: 1024px) {
    font-size: 0.85rem;
  }
}

.table-scroll-wrapper {
  overflow-y: auto;
  position: relative;

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    position: sticky;
    display: block;
    bottom: 0;
    width: 100%;
    height: 5rem;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent 50%, $surface-color 100%);
  }
}

input[type="search"] {
  background-color: $surface-color;
  border: 1px solid $border-color;
  color: $text-primary;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: inherit;
  margin-right: 3rem;

  @media (max-width: 1024px) {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
    font-size: 16px;
    max-width: 8rem;
    // transform: scale(0.8);
    // transform-origin: left center;
  }
}
